<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/fixed-income.css">

    <title>Investimento Renda Fixa</title>
</head>

<body>
    <div class="container">
        <div class="containerHeader">
            <header>
                <h1>
                    Project Investiment Pink
                </h1>
            </header>
        </div>
        <div class="formFixedIncome">
            <h3>Investimento de Renda Fixa</h3>
            <form action="/investiment/fixed-income" method="post">
                <input type="text" name="name" placeholder="Nome do investimento" />
                <select name="status">
                    <option value="disponível">Disponível</option>
                    <option value="indisponível">Indisponível</option>
                </select>
                <textarea name="destination" placeholder="Digite a destinação..."></textarea>
                <input type="number" name="profitabilityRate" placeholder="Taxa de rentabilidade a.a." />
                <input type="number" name="time" placeholder="Prazo" />
                <input type="number" name="administrationFee" placeholder="Taxa de administração" />
                <button type="submit">
                    Adicionar
                </button>
            </form>
        </div>

        <div class="list-fixed-income">

            <h3>Listagem de Investimentos</h3>
            <table class=".table-income">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Status</th>
                        <th>Destinação</th>
                        <th>Taxa de Rentabilidade</th>
                        <th>Prazo</th>
                        <th>Taxa de Administração</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each fixedIncomes}}
                        <tr>
                            <td> {{ this.name}} </td>

                            <td>
                                <button class="status-button" onclick="fetchUpdateFixedIncome('{{this.id}}')">
                                    {{this.status}}
                                </button>
                            </td>
                            <td>{{this.destination}}</td>
                            <td>{{this.profitabilityRate}}</td>
                            <td>{{this.time}}</td>
                            <td>{{this.administrationFee}}</td>
                            <td>
                                <button  class="remove-button" onclick="fetchRemoveFixedIncome('{{this.id}}')">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>

                        </tr>
                    {{/each}}
                </tbody>
            </table>


        </div>
    </div>

</body>
<script>

    async function fetchUpdateFixedIncome(id) {
        const url = `/investiment/fixed-income/${id}`

        const options = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },

        }

        try {
            const response = await fetch(url, options);
            if (response.ok) {
                console.log('Requisição delete bem-sucedida');
                window.location.href = '/investiment/fixed-income';
            } else {
                console.error('Erro na requisição PUT:', response.status, response.statusText);
            }
        } catch (error) {
            console.log(error);
        }
    }

    async function fetchRemoveFixedIncome(id) {
        const url = `/investiment/fixed-income/${id}`

        const options = {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },

        }

        try {
            const response = await fetch(url, options);

            if (response.ok) {
                console.log('Requisição delete bem-sucedida');
                window.location.href = '/investiment/fixed-income';
            } else {
                console.error('Erro na requisição PUT:', response.status, response.statusText);
            }
        } catch (error) {
            console.log(error);
        }
    }

</script>

</html>