<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Investimento Renda Fixa</title>
</head>

<body>
    <div class="container">
        <div>
            <header>
                <h1>
                    Project Investiment Pink
                </h1>
            </header>
        </div>
        <div class="form">
            <h3>Investimento de Renda Fixa</h3>
            <form action="/investiment/fixed-income" method="post">
                <input type="text" name="id" placeholder="id" />
                <input type="text" name="name" placeholder="nome" />
                <select name="status">
                    <option value="disponível">Disponível</option>
                    <option value="indisponível">Indisponível</option>
                </select>
                <input type="text" name="destination" placeholder="destinação" />
                <input type="number" name="profitabilityRate" placeholder="taxa rentabilidade a.a." />
                <input type="number" name="time" placeholder="prazo" />
                <input type="number" name="administrationFee" placeholder="taxa administração" />
                <button type="submit">
                    adicionar
                </button>
            </form>
        </div>
        <article class="list-fixed-income">

            {{#each fixedIncomes}}
            <section class="list-item">
                <span>Nome: </span>
                <span> {{ this.name}} </span>
                <span>Status: </span>
                <button onclick="fetchUpdateFixedIncome({{this.id}})">
                    <span>{{this.status}} </span>
                </button>
                <span>Destinação: </span>
                <span>{{this.destination}}</span>
                <span>Taxa de rentabilidade: </span>
                <span>{{this.profitabilityRate}}</span>
                <span>Prazo: </span>
                <span>{{this.time}}</span>
                <span>Taxa de administração: </span>
                <span>{{this.administrationFee}}</span>

                <button onclick="fetchRemoveFixedIncome({{this.id}})">
                    <i class="fas fa-trash"></i>
                </button>
            </section>

            {{/each}}

        </article>
    </div>

</body>
<script>

    async function fetchUpdateFixedIncome(id) {
        const url = `http://localhost:3000/investiment/fixed-income/${id}`

        const options = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },

        }

        try {
            const response = await fetch(url, options);
            if (response.ok) {
                console.log('Requisição delete bem-sucedida');
                window.location.href = 'https://investimentpink.onrender.com/investiment/fixed-income';
            } else {
                console.error('Erro na requisição PUT:', response.status, response.statusText);
            }
        } catch (error) {
            console.log(error);
        }
    }

    async function fetchRemoveFixedIncome(id) {
        const url = `https://investimentpink.onrender.com/investiment/fixed-income/${id}`

        const options = {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },

        }

        try {
            const response = await fetch(url, options);

            if (response.ok) {
                console.log('Requisição delete bem-sucedida');
                window.location.href = 'http://localhost:3000/investiment/fixed-income';
            } else {
                console.error('Erro na requisição PUT:', response.status, response.statusText);
            }
        } catch (error) {
            console.log(error);
        }
    }

</script>

</html>